<div class="contenedor">
    <h3>Flexbox</h3>
<div id="flex">
    
    <div class="F1">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, corporis!</p>
    </div>
    <div class="F2">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, reiciendis?</p>
    </div>
    <div class="F3">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit hic incidunt sint ex illo? Temporibus ipsum totam assumenda nam est.</p>
    </div>
    <div class="F4">
        <div>
        <p> A </p>
        </div>
        <div>
        <p> B </p>
        </div>
        <div>
        <p> C </p>
        </div>
    </div>
</div>
<h3>Grid</h3>
<div id="grid">
    <div class="G1">
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="G2">
        <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="G3">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam?</p>
    </div>
</div>
</div>